# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]

concurrency:
  group: ${{ github.workflow }}

jobs:
  format:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [25.x]

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - name: Install dependencies
        run: npm install
      - name: Check formatting
        run: npm run format-check

  lint:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        # Check a supported node range
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
        node-version: [22.x, 25.x]

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - name: Install dependencies
        run: npm install
      - name: Check for lint and compile errors
        run: npm run lint-check

  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        # Check minimal supported node range
        node-version: [22.x]

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - name: Install dependencies
        run: npm install
      - name: Run test
        run: npm run start
        env:
          GROUPME_TOKEN: ${{ secrets.GROUPME_TOKEN }}
          DISCORD_TOKEN: ${{ secrets.DISCORD_TOKEN }}
          CLIENT_ID: ${{ secrets.CLIENT_ID }}
          SERVER_ID: ${{ secrets.SERVER_ID }}
          TEST_DISCORD_CHANNEL_ID: ${{ secrets.TEST_DISCORD_CHANNEL_ID }}
          TEST_GROUPME_GROUP_ID: ${{ secrets.TEST_GROUPME_GROUP_ID }}
